html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* { margin: 0; padding: 0; }

.app {
    margin: 0 auto;
    width: 10rem;
    height: 100%;
    overflow: auto;
    background-color: #f3f5f8;
}

.container {
    padding: 0 15px;
}

/**/
.wawaji_tips {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.wawaji_tips img {
    width: 100%;
    height: auto;
}

/**/
.wawaji_list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.wawaji_list > li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.wawaji_list > li > a {
    display: block;
    padding: 0 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.wawaji_item {
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.wawaji_item_hd {
    width: 100%;
    height: auto;
}
.wawaji_item_hd > img {
    width: 100%;
    height: auto;
}

.wawaji_item_bd {
    margin-left: 15px;
    margin-right: 15px;
}

.wawaji_item_bd h1 {
    margin: 0;
    font-size: 18px;
    line-height: 2;
    font-weight: normal;
    color: #333;
}

.wawaji_item_bd p {
    margin: 0;
    font-size: 14px;
    line-height: 3;
    color: #999;
}

.wawaji_item_bd p > img,
.wawaji_item_bd p > span {
    vertical-align: middle;
}

.wawaji_item_ft {
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #f7f7f7;
    text-align: center;
}

.wawaji_item_ft .wawaji_state {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.wawaji_item_ft .wawaji_state > img,
.wawaji_item_ft .wawaji_state > span {
    vertical-align: middle;
}

.wawaji_state .going {
    color: #ff7522;
}
.wawaji_state .stoped {
    color: #aaaaaa;
}
/***************************/
.room {
    background-color: #b2d7ff;
}
.main {
    padding: 15px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main_wrap {
    padding: 10px;
    height: 100%;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.video_wrap  {
    height: 100%;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.video_view {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #fff;
}

/*娃娃机ID*/
.video_wawaji_id {
    position: absolute;
    top: .21875rem;
    left: 0;
    padding: .15625rem;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;
}
.video_wawaji_id > img,
.video_wawaji_id > span {
    vertical-align: middle;
    color: #3bc2fe;
}

.video_wawaji_id > img {
    width: 14px;
    height: auto;
}
/*娃娃机在线人数*/
.video_wawaji_member {
    position: absolute;
    top: .21875rem;
    right: .21875rem;
    padding: .15625rem;
    background-color: rgba(0, 0, 0, .5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
    z-index: 10;
}
.video_wawaji_member > img,
.video_wawaji_member > span {
    vertical-align: middle;
}

.video_wawaji_member > img {
    width: 20px;
    height: 20px;
}
/*娃娃机选择摄像头*/
.video_wawaji_transform {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    padding: .15625rem;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top-left-radius: .6640625rem;
    border-bottom-left-radius: .6640625rem;
    z-index: 10;
}

.video_wawaji_transform > img {
    width: 1.171875rem;
    height: 1.171875rem;
    vertical-align: middle;
}

/*娃娃机视频区域*/
.video_area {
    width: 100%;
    height: auto;
}

.video_area > canvas {
    width: 100% !important;
    height: 100% !important;
    background-color: #b2d7ff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/*控制区域*/
.control_wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 10rem;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

/*排队按钮*/
.appointment {
    margin-bottom: 1.125rem;
}
.appointment_buttons {
    text-align: center;
}

.button {
    margin: 0 auto;
    display: inline-block;
    padding: 8px;
    background-color: rgba(255,255,255,.3);
    -webkit-border-radius: .703125rem;
    -moz-border-radius: .703125rem;
    border-radius: .703125rem;
}

.button > button {
    margin-top: -3px;
    width: 5.3125rem;
    height: 1.0625rem;
    font-size: 14px;
    color: #fff;
    border: none;
    -webkit-border-radius: .546875rem;
    -moz-border-radius: .546875rem;
    border-radius: .546875rem;
    background-color: #ff7522;
    -webkit-box-shadow: 0 3px 0 #d06a25;
    -moz-box-shadow: 0 3px 0 #d06a25;
    box-shadow: 0 3px 0 #d06a25;
    outline: none;
}

.button > .cancel {
    background-color: #ccc;
    -webkit-box-shadow: 0 .3px 0 #b1b1b1;
    -moz-box-shadow: 0 3px 0 #b1b1b1;
    box-shadow: 0 3px 0 #b1b1b1;
}
.button > .share {
    background-color: #ff3c78;
    -webkit-box-shadow: 0 3px 0 #d02a5e;
    -moz-box-shadow: 0 3px 0 #d02a5e;
    box-shadow: 0 3px 0 #d02a5e;
}

.button > .onqueue {
    background-color: #fe3d36;
    -webkit-box-shadow: 0 3px 0 #ce2e2a;
    -moz-box-shadow: 0 3px 0 #ce2e2a;
    box-shadow: 0 3px 0 #ce2e2a;
}

.button > .relax {
    background-color: #3bc2fe;
    -webkit-box-shadow: 0 3px 0 #2d9fcf;
    -moz-box-shadow: 0 3px 0 #2d9fcf;
    box-shadow: 0 3px 0 #2d9fcf;
}

.appointment_tip {
    margin-top: 6px;
    font-size: 12px;
    color: #999;
}

/*控制区域*/
.controller {
    display: none;
    margin-bottom: 2.0935rem;
    font-size: 0;
}

.direction_controller {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
    text-align: center;
}

.direction_button_wrap {
    position: relative;
    height: 80px;
}

.direction_button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.direction_button > button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    user-select: none;
}

.up_button {
    background-image: url('../img/button_up.png');
}
.right_button {
    background-image: url('../img/button_right.png');
}
.left_button {
    background-image: url('../img/button_left.png');
}
.bottom_button {
    background-image: url('../img/button_down.png');
}

.get_controller {
    display: inline-block;
    vertical-align:  middle;
    width: 45%;
    text-align: center;
}

.get_button {
    width: 90px;
    height: 90px;
    font-size: 14px;
    color: #fff;
    border: 5px solid #fff4ee;
    padding: 10px;
    background-color: #fe8532;
    border-radius: 50%;
    outline: none;
    user-select: none;
}

.mask {
    z-index: 800;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    text-align: center;
}

.res_view {
    position: relative;
}


.get_result_pic {
    margin-top: 2.0625rem;
    width: 9.0625rem;
    height: auto;
}

.get_result_buttons {
    position: absolute;
    margin-top: 1.706rem;
    font-size: 0;
    bottom: 0;
    width: 100%;
}

.get_result_buttons > .button {
    display: inline-block;
    vertical-align: middle;
}
.get_result_buttons > .button > button {
    width: 3.6rem;
}
.get_result_buttons > .button:first-child {
    margin-right: .4rem;
}

audio {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*****/
.wawaji_item_bd > h1 {
    font-size: 14px;
}
[data-dpr="2"] .wawaji_item_bd > h1 {
    font-size: 16px;
}
[data-dpr="3"] div {
    font-size: 18px;
}